th{
    background: rgb(217,235,245);
    color: black;
}
.btn-primary{
    background: rgb(48,99,146);
    color: white;
    padding: 13px;
    font-weight: 700;
    border-style: hidden;
    border-radius: 11px;
}
.btn-secondary{
    background: rgb(241,181,27);
    color: white;
    padding: 13px;
    font-weight: 700;
    border-style: hidden;
    border-radius: 11px;
}