<nav style="background: rgb(218,235,245); padding: 6px;">
    <label for="" style="color: black;">
        From Date :
        <input type="date">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </label>
    <label for="" style="color: black;">
        To Date:
        <input type="date">
    </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <select name="" id="" style="height:30px;width: 130px;" >
            <option value="">Select Suplier</option>
            <option value="">Suplier1</option>
            <option value="">Suplier2</option>
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
        <i class="fa fa-search" aria-hidden="true" ></i>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="https://img.icons8.com/officel/30/000000/label-printer.png" style="margin-left: 2px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label for="" style="color: black;">
            Search :
            <input type="search">
        </label>
    </nav>
<!-- <div class="row">
  <div class="col-12 ">
      <div class="well">
        
        <form class="form-inline">
            <div class="col-md-2 ">
                <label for="date" class="mb-2 mr-sm-4">Select</label>
                </div>
                <div class="col-md-10">
                <select class="form-control mb-2 mr-sm-8">
                    <option>-----All Supplier-----</option>
                </select>
                </div>
            <div class="col-md-2">
            <label for="date" class="mb-2 mr-sm-4">From Date</label>
            </div>
            <div class="col-md-10">
            <input type="date" class="form-control mb-2 mr-sm-8"  placeholder=""  name="date" >
            </div>
            <div class="col-md-2 ">
                <label for="date" class="mb-2 mr-sm-4">To Date</label>
                </div>
                <div class="col-md-10">
                <input type="date" class="form-control mb-2 mr-sm-8"  placeholder=""  name="date" >
                </div>
               
                    <i class="fa fa-print" aria-hidden="true" style="margin-left: 18rem;" ></i>&nbsp;
                    <i class="fa fa-file-pdf-o" aria-hidden="true" ></i>&nbsp;
            </form>
        
      </div>
      
      
  </div>
</div> -->