<nav style="    background: rgb(217,235,245);
padding: 6px;">
    <label for="" style="color: black;">
        Start Date :
        <input type="date">
    </label>&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="" style="color: black;">
        End Date :
        <input type="date">
    </label>&nbsp;&nbsp;&nbsp;&nbsp;
    <select name="" id="" style="    width: 112px;
    height: 30px;
    margin-left: 27px;">
        <option value="">All</option>
    </select>&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="https://img.icons8.com/doodle/30/000000/pdf--v3.png">&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="" style="color: black;
    margin-left: 3rem;">
        Search :
        <input type="search">
    </label>
</nav>
<nav style="    background: rgb(217,235,245);
padding: 6px;">
    <select name="" id="">
        <option value="">10</option>
    </select>
</nav>
<table class="table table-striped">
    <tr style="color: rgb(217,235,245);">
        <tr>
            <th>S.No</th>
            <th>District Name</th>
            <th>IML Sale</th>
            <th>IML Stock</th>
            <th>Beer Sale</th>
            <th>Beer Stock</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Guntur</td>
            <td>2667</td>
            <td>14356</td>
            <td>2334</td>
            <td>24656667</td>
        
    </tr>
    <tr>
        <td>1</td>
        <td>Guntur</td>
        <td>2667</td>
        <td>14356</td>
        <td>2334</td>
        <td>24656667</td>
    
</tr>

</table>
<div style="float: right;">
    <button class="btn btn-primary"> Previous</button>
    <button style="margin-left: 26px;
    width: 83px;" class="btn btn-secondary">Next</button>
</div>