<nav style="background: rgb(217,235,245); padding: 6px;">
  <label for="" style="color: black;">
      Process Date :
      <input type="date">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </label>
  <select name="" id="" style="height:30px;width: 150px;" >
    <option value="">Select Supplier</option>
    <option value="">Suplier1</option>
    <option value="">Suplier2</option>
</select>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i class="fa fa-search" aria-hidden="true" ></i>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src="https://img.icons8.com/officel/30/000000/label-printer.png" style="margin-left: 2px;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label for="" style="color: black;">
          Search :
          <input type="search" placeholder="Transaction Rollback">
      </label>
  </nav>
<!-- <div class="container-fluid">
    <div class="row">
      
        <div class="col-12 bac">
            <p></p>
           
            
           
<div class="col-md-12">
    
            <div id="custom-search-input">
                <div class="input-group">
                   
                </div>
            </div>
           
            </div>
            </div>

    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
             
            </thead>
            <tbody>
              
              <tr>
                <td >Process Date  </td>
                <td><input type="date"></td>
                <td><i class="fa fa-print" aria-hidden="true" style="color: white;"></i></td>
              </tr>
              <tr>
                <td style="background-color: rgb(217,235,245);"> Select Supplier  </td>
                <td>
                    <select style="height: 30px;">
                        <option>All  Supplier</option>
                        <option>Eagle Distillery</option>
                        <option>BRK Spirits</option>
                    </select>
                </td>
              </tr>
              <tr>
                 
                <td >
                    <button type="button" class="btn btn-info">View</button>
                      </td>
              </tr>
              
             
             
            </tbody>
          </table>
    </div>
      <div class="col-12">
          
        
      
        
        
    </div>

    
</div> -->


