<div class="container-fluid">
  <div class="row">
    
      <div class="col-12 bac">
          <p></p>
          <form class="form-inline" action="/action_page.php">
              <label for="date" style="color: black;">SelectMonth:</label>
              <input type="date" class="form-control" placeholder="" id="pwd">&nbsp;&nbsp;&nbsp;&nbsp;
              <label for="date" style="color: black;">AllDepots :</label>
              <select style="height: 30px;">
                  <option>All  Depots</option>
                  <option>Eagle Distillery</option>
                  <option>BRK Spirits</option>
              </select>&nbsp;&nbsp;&nbsp;&nbsp;
              <label for="date" style="color: black;">AllSuppliers :</label>
              <select style="height: 30px;">
                  <option>All Suppliers</option>
                  <option>Eagle Distillery</option>
                  <option>BRK Spirits</option>
              </select>&nbsp;&nbsp;&nbsp;&nbsp;
              <label for="date" style="color: black;">Penality:</label>
              <select style="height: 30px;">
                  <option>5 Rs </option>
                  <option>Eagle Distillery</option>
                  <option>BRK Spirits</option>
              </select>&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="fa fa-search" aria-hidden="true" ></i>&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="fa fa-print" aria-hidden="true" style="color: black;"></i>&nbsp;&nbsp;&nbsp;&nbsp;
              
             
             
          </form>
          
         
<div class="col-md-12">
  
          <div id="custom-search-input">
              <div class="input-group">
                 
              </div>
          </div>
          <p></p>
          </div>
          </div>

  <div class="col-md-12">
      <table class="table table-bordered">
          <thead>
            <tr>
              <th>Product Code</th>
              <th>Received  Qty</th>
              <th>Sales  Qty</th>
              <th> IDT Qty </th>
              <th> Sediment Qty</th>
              <th>Remaining Qty  </th>
              <th>Penalty  Amount</th>
              <th>Grand Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
           </tr>
           
           
          </tbody>
        </table>
  </div>
    <div class="col-12">
        
      
   
      
      
  </div>

  
</div>


<div style="float: right;">
<button class="btn btn-primary">Previous</button>
<button class="btn btn-secondary">Next</button>
</div>
