p{
    margin-bottom: 0rem;
}
.bg-dark{
    background-color: rgb(217,235,245)!important;
}
nav{
    height: 3rem;
}
label{
    margin-top: 0.5rem;
    margin-bottom: 1.3rem;
    color: white;
}
input{
    border-radius: 1.5px;
    margin-top: 0rem;
    height: 22px;
    width: 172px;
}
#endDate{
    margin-left: 1rem;
}
.date{
    margin-top: 1rem;
}
select{
    height: 1.5rem;
    width: 3rem;
    margin-top:6rem;
}
#search{
    margin-left: 15rem;
    color: black;
}
.table td, .table th{
    padding: 0rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn-primary{
    background-color: rgb(48,99,146)!important;
}
.btn-secondary{
    background-color: rgb(241,181,27)!important;
}
#next{
    margin-left: 44rem;
}
