nav{
    background: rgb(217,235,245);
    color: black;
    padding: 3px;
}
.date{
    height: 21px;
    width: 152px;
}
select{
    width: 93px;
    margin-left: 14px;
}
.btn-primary{
    background: rgb(48,99,146) ;
    color: white;
    padding: 6px;
    border-radius: 12px;
    border-style: hidden;
}
.btn-secondary{
    background: rgb(241,181,27);
    color: white;
    padding: 6px;
    border-radius: 12px;
    border-style: hidden;
}