<nav style="    background: rgb(217,235,245);
padding: 6px;">
<label for="" style="color: black;">
    Start Date :
    <input type="date">
</label>&nbsp;&nbsp;&nbsp;&nbsp;
<label for="" style="color: black;">
    End Date: 
    <input type="date">
</label>
&nbsp;&nbsp;&nbsp;&nbsp;
<label for="" style="color: black;
margin-left: 15rem;">
    Search :
    <input type="search">
</label>
</nav>
<nav style="    background: rgb(217,235,245);
padding: 6px;">
    <select name="" id="">
        <option value="">10</option>
    </select>
</nav>
<div>
    <table class="table table-striped">
        <tr>
            <th>TP Id</th>
            <th>Outlet Name</th>
            <th>Depot Name</th>
            <th>Return Date</th>
            <th>Status</th>

        </tr>
        <tr>
            <td>No Data Available</td>
            <td></td>
        </tr>
    </table>
</div>


<div style="float:right;">
    <button class="btn btn-primary">Previous</button>
    <button style="margin-left: 26px;
    width: 83px;" class="btn btn-secondary">Next</button>
</div>