table{
    border: 1px solid;
    border-color: rgb(217,235,245);
    border-right: 1px solid;
    border-right-color: rgb(217,235,245);
}
button{
    background: rgb(48,99,146);
    color: white;
    padding: 13px;
    font-weight: 700;
    border-style: hidden;
    border-radius: 11px;
}
h1{
    text-align: center;
    color: black;
}