<div class="container-fluid">
    <div class="row">
      
        <div class="col-12 bac">
            <p></p>
            <form class="form-inline" >
                <label for="date">Start Date :</label>
                <input type="date" class="form-control" placeholder="" id="email">&nbsp;&nbsp;&nbsp;&nbsp;
                <label for="pwd">End Date:</label>
                <input type="date" class="form-control" placeholder="" id="pwd">&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;
                <i class="fa fa-search" aria-hidden="true" ></i>
              
               
               
            </form>
            
           
<div class="col-md-12">
    
            <div id="custom-search-input">
                <div class="input-group">
                    <select>
                        <option>10</option>
                        <option>10</option>
                        <option>10</option>
                    </select>
                   
                    <input type="text" class=" dd search-query form-control" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
            <p></p>
            </div>
            </div>

    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Consignment No</th>
                <th>Indent No</th>
                <th>Depot </th>
                <th> Created On </th>
                <th> Apporved On</th>
                <th>Status Fee</th>
                
               
                
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let indent of indents">
                <td>{{indent.consignmentType}}</td>
               
                <td>{{indent.ifsNo}}</td>
                <td>{{indent.depotId}}</td>
                <td>{{indent.creationDate}}</td>
                <td>{{indent.indentDate}}</td>
                <td>{{indent.status}}</td>
                <td> 
                  <button type="button" style="margin-left: 12px; background-color: rgb(48,99,146);" [routerLink]="['../special-ifs-view',indent.ifsNo]" tooltip="view Special Ifs" >View</button>
                  <button type="button" style="margin-left: 12px; background-color: rgb(241,181,27);" [routerLink]="['../special-ifs-edit',indent.ifsNo]" tooltip="Edit Special Ifs" >Edit</button>
                  <button type="button" style="margin-left: 12px;  background-color: red;" tooltip="Delete Special Ifs" (click)="openModal(confirmtemplate,indent.ifsNo)">Delete</button>
              </td>
              </tr>
             
             
            </tbody>
          </table>
    </div>
      <div class="col-12">
        <p *ngIf="!hasAddIfsPer"> <img src="https://img.icons8.com/flat_round/20/000000/plus.png" style="cursor: pointer;" (click)="sampleFormWindow()">Add IFS </p>
        
      <span class="but">  <button type="button" style="background-color:  rgb(48,99,146);" class="btn btn-info">Pervious</button>&nbsp;
        <button type="button" style="background-color: rgb(241,181,27);" class="btn btn-info">Next</button></span>
        
        
    </div>

    
</div>













 


