<nav style="    background: rgb(217,235,245);
padding: 6px;">
    <select name="" id="">
        <option value="">Guntur Depot I</option>
    </select>
    <label for="" style="color: black;
    margin-left: 40rem;">
        Search :
        <input type="search">
    </label>
</nav>
<nav style="    background: rgb(217,235,245);
padding: 6px;">
    <select name="" id="">
        <option value="">10</option>
    </select>
</nav>
<table class="table table-striped">
<tr>
    <th>S.No</th>
    <th>Permit No</th>
    <th>Issue Date And Time</th>
    <th>Permit Fee</th>
    <th>Event Address</th>
    <th>Authorized Name</th>
    <th>Status</th>
    <th>Print/PDF</th>
    <th>Details</th>
</tr>
<tr>
    <td>No Data</td>
</tr>

</table>
<div style="float: right;">
    <button class="btn btn-primary">Previous</button>
    <button style="margin-left: 26px;
    width: 83px;" class="btn btn-secondary">Next</button>
</div>