<nav style="background-color: rgb(157, 202, 229);" class="navbar navbar-expand-lg navbar navbar-dark ">
    <div >
       
        
    </div>
</nav>

<div class="bs-example">
    <table  class="table table-striped">
        <thead style="background-color:rgb(157, 202, 229) ;">
            <tr>
                <th>Brand Code</th>
                <th> Name</th>
                <th>Product Code</th>
                <th>Product Name</th>
                
                
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text">  </td>
                <td><input type="text"> </td>
                
                <td><input type="text">  </td>
                <td><input type="text"> </td>

            </tr>
            <tr>
                <td>1564  </td>
                <td>Blend Whisky</td>
                
            </tr>
            <tr>
                <td>1564  </td>
                <td>Red Wine</td>
                
            </tr>
            <tr>
                <td>1564  </td>
                <td>White Wine</td>
                
            </tr>
                        
        </tbody>
    </table>
    
</div>
<div id="button" style="float: right;">
    
    <button style="background-color: rgb(48,99,146);color: black;">previous</button>
    <button style="color: black;background-color:rgb(241,181,27) ;">Next</button>
</div> 



