<nav style="background: rgb(217,235,245); padding: 6px;">
    <label for="" style="color: black;">
        From Date :
        <input type="date">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </label>
    <label for="" style="color: black;">
        To Date:
        <input type="date">
    </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <select name="" id="" style="height:30px;width: 130px;" >
            <option value="">Select Suplier</option>
            <option value="">Suplier1</option>
            <option value="">Suplier2</option>
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <select name="" id="" style="height:30px;width: 191px;">
            <option value="">Select Process Status</option>
            <option value="">Active</option>
            <option value="">InActive</option>
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
        <i class="fa fa-search" aria-hidden="true" ></i>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="https://img.icons8.com/officel/30/000000/label-printer.png" style="margin-left: 2px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label for="" style="color: black;">
            Search :
            <input type="search">
        </label>
    </nav>