<div class="animated fadeIn">
    <!--/.row-->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <!-- Large modal -->
          <div class="card-body">
            <div class="modal-body mobile-padding">
              <div class="col-sm-12 mobile-padding">
                <div class="card">
                  <div class="card-header" style="background-color: rgb(178, 209, 228);">
                      <strong>Viewing IFS Details </strong>
                      </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="indentNo">IFS Number</label>
                        <!-- <input type="text" [(ngModel)]="model.indentNo" name="_id" #_id="ngModel" id="name" hidden>  -->
                        <input type="text" readonly class="form-control" [(ngModel)]="indents.ifsNo" name="ifsNo"  >
                      </div>
                       <div class="form-group col-sm-6">
                        <label for="indentNo">ConsignmentType</label>
                        <!-- <input type="text" [(ngModel)]="model.indentNo" name="_id" #_id="ngModel" id="name" hidden>  -->
                        <input type="text" readonly class="form-control" [(ngModel)]="indents.consignmentType" name="ifsNo"  >
                      </div>
                    </div>
                      <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="indentNo">DepotId</label>
                        <!-- <input type="text" [(ngModel)]="model.indentNo" name="_id" #_id="ngModel" id="name" hidden>  -->
                        <input type="text" readonly class="form-control" [(ngModel)]="indents.depotId" name="ifsNo"  >
                      </div>
                 
                    
                      <div class="form-group col-sm-6">
                        <label for="indentNo">DistilleryId</label>
                        <!-- <input type="text" [(ngModel)]="model.indentNo" name="_id" #_id="ngModel" id="name" hidden>  -->
                        <input type="text" readonly class="form-control" [(ngModel)]="indents.distilleryId" name="ifsNo"  >
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="indentNo">IndentDate</label>
                        <!-- <input type="text" [(ngModel)]="model.indentNo" name="_id" #_id="ngModel" id="name" hidden>  -->
                        <input type="text" readonly class="form-control" [(ngModel)]="indents.indentDate" name="ifsNo"  >
                      </div>
                    </div>
                    
                    <div class="col-md-12">
                      <table class="table table-bordered">
                          <thead style="background-color: rgb(157, 202, 229);color: black;">
                            <tr>
                              <!-- <th>IfsPid</th> -->
                              <th>ProductCode</th>
                              <th>BrandName</th>
                              <th> Size </th>
                              <th>QuantityInCases</th>
                              <th>RatePerCase</th>
                              <th>TotalAmount</th>
                              <th>Actions</th>
                             
                              
                            </tr>
                          </thead>
                          <tbody>
                            <tr  *ngFor="let model of models">
                              <!-- <td>{{model.ifsPid}}</td> -->
                              <td>{{model.productCode}}</td>
                              <td>{{model.brandName}}</td>
                              <td>{{model.size}}</td>
                              <td>{{model.qtyInCases}}</td>
                              <td>{{model.ratePerCase}}</td>
                              <td>{{model.totalAmount}}</td>
                              <td> 
                                <button type="button" style="margin-left: 12px; background-color: rgb(49,99,146);" [routerLink]="['special-ifs-view-pid',model.ifsPid]" tooltip="view Special Ifs" >View</button>
                                <button type="button" style="margin-left: 12px; background-color: rgb(241,181,27);" [routerLink]="['special-ifs-edit-pid',model.ifsPid]" tooltip="Edit Special IfsPid" >Edit</button>
                                <button type="button" style="margin-left: 12px;  background-color: red;" tooltip="Delete Special Ifs" (click)="openDialog()">Delete</button>
                            </td>
                            </tr>
                           
                           
                          </tbody>
                        </table>
                  </div>
  
  
                    <!-- <div class="row">
                      <div class="form-group col-sm-12">
                        <label for="desc">Company Tpes</label>
                        <select disabled class="form-control" [(ngModel)]="model.type.typeid" name="type" #type="ngModel" id="companyType">
                          <option [value]="undefined">Choose..</option>
                          <option [ngValue]="type.typeid" *ngFor="let type of companyTypes">{{type.name}}
                          </option>
                        </select>
                      </div>
                    </div> -->
  
                    <!-- <div class="row">
                      <div class="form-group col-sm-12">
                        <label for="desc"> Company Logo:</label>
                        <label for="desc">{{model.companyfilename}}</label>
                        <input type="text" readonly class="form-control" [(ngModel)]="model.companyfilename" id="desc" name="companyfilename"
                          #companyfilename="ngModel"> -->
                      <!-- </div>
                    </div> -->
  
  
                    <!-- <div class="row">
                      <div class="form-group col-sm-12">
                        <label for="desc">Primary Contact Name</label>
                        <input type="text" readonly class="form-control" [(ngModel)]="model.primaryContactName" id="desc" name="primaryContactName"
                          #primaryContactName="ngModel">
                      </div>
                    </div>
   
                    <div class="row" *ngIf="isOwnerAdmin ==='true'">
                      <div class="form-group col-sm-12">
                        <label for="tracratAnnouncements" >Tracrat Announcements</label>
                        <textarea  id="tracratAnnouncement" name="textarea-input" rows="2" cols="4" name="tracratAnnouncements" #tracratAnnouncements="ngModel" class="form-control"
                                  [(ngModel)]="model.announcementtext" placeholder="Enter Description"></textarea>
                                  <button (click)="saveMessage()"  tooltip="Save Message" class="btn btn-primary">Save Message</button>     
                      </div>
                    </div> -->
  
                    <!-- <div class="row">
                      <div class="form-group col-sm-12">
                        <label for="desc">Company Announcements</label>
                        <textarea readonly id="desc" name="textarea-input" rows="2" cols="4" name="companyAnnouncements" #companyAnnouncements="ngModel"
                          class="form-control" [(ngModel)]="model.announcement.announcementtext" ></textarea>
                      </div>
                    </div>  -->
  
              
                   
                  </div>
                  
                  <div class="row">
                    <div class="form-group col-sm-12 text-center">
                      <button type="button" style="background-color: rgb(177, 209, 228);" [routerLink]="['../../edit']" tooltip="Edit this Company" class="btn btn-primary">Edit</button>&nbsp;&nbsp;&nbsp;
                      <button type="button" style="background-color: rgb(241,181,27);" (click)="cancelDetails()" tooltip="Cancel" class="btn btn-primary">Back</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--/.col-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>