<h1>MRP PROFORMACE</h1>
<div style="font-size: 18px;
font-weight: 700; background-color: rgb(217,235,245); color: black;">
    <label for="">
        Enter Supplier Code :
        <input type="text">
    </label>
    <br>
    <label for="" style="  margin-left: 3rem;">
        Supplier Type :
        <select name="" id="">
            <option value="">Select Supplier Type</option>
        </select>
    </label>
</div>
<table class="table table-bordered">
    <tr style="background-color: rgb(217,235,245);">
        <th><input type="checkbox"></th>
        
        <th>Brand Name</th>
        <th>Size(ml)</th>
        <th>Units per case</th>
        <th>Category</th>
        <th>Segment</th>
        <th>Strength</th>
        <th>Offered Basic</th>
        <th>Final Basic</th>
        <th>Issue</th>
    </tr>
    <tr >
        <td><input type="checkbox"></td>
        <td><input style="width: 4rem;" type="text" ></td>
        <td><input style="width: 4rem;" type="text"></td>
        <td><input style="width: 4rem;" type="text"></td>
        <td><input style="width: 4rem;" type="text"></td>
        <td><input style="width: 4rem;" type="text"></td>
        <td><input style="width: 4rem;" type="text"></td>
        <td><input style="width: 4rem;" type="text"></td>
        <td><input  style="width: 4rem;"type="text"></td>
        <td><input style="width: 4rem;" type="text"></td>
    </tr >
</table>
    <div>
        <button class="btn btn-primary">New Row</button>
        <button class="btn btn-secondary">Remove Row</button>
        <button style="margin-left:36rem" class="btn btn-primary">Save</button>
        <button class="btn btn-secondary">Cancel</button>
    </div>

