<nav>
    <label for="" style="color: black;">
        Start Date :
        <input class="date" type="date">
    </label>&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="" style="margin-left: 8px; color: black;">
        End Date :
        <input class="date" type="date">
    </label>&nbsp;&nbsp;&nbsp;&nbsp;
    <select name="" id="">
        <option value="">All</option>
    </select>&nbsp;&nbsp;&nbsp;&nbsp;
    <select name="" id="">
        <option value="">All</option>
    </select>&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="https://img.icons8.com/pastel-glyph/10/000000/search--v2.png" width="20px">&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="" style="color:black">
        Search :
        <input type="search">
        </label>>
    </nav>

<nav>
    <select name="" id="">
        <option value="">10</option>
    </select>

</nav>



<table class="table table-striped">
    <tr style="background: rgb(217,235,245)">
        <th>S.No</th>
        <th>Location</th>
        <th>Opening Stock</th>
        <th>Inward Stock</th>
        <th>Sales</th>
        <th>Closing Stock</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Exise Depot Vizag II</td>
        <td>10099/182</td>
        <td>3200/00</td>
        <td>00</td>
        <td>11234/4200</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Exise Depot Vizag II</td>
        <td>10099/182</td>
        <td>3200/00</td>
        <td>00</td>
        <td>11234/4200</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Exise Depot Vizag II</td>
        <td>10099/182</td>
        <td>3200/00</td>
        <td>00</td>
        <td>11234/4200</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Exise Depot Vizag II</td>
        <td>10099/182</td>
        <td>3200/00</td>
        <td>00</td>
        <td>11234/4200</td>
    </tr>
</table>


<div style="float: right;" >
    <button style="border-style: hidden;" class="btn btn-primary">Previous</button>
    <button style="margin-left: 11px; border-style: hidden;
    padding: 7px;
    width: 62px;" class="btn btn-secondary">Next</button>
</div>